.warp{
  .chat {
    overflow: auto;
    height: 500px;
    background-color: rgb(250, 244, 236);
    .line {
      padding: 8px 5px;
    }
    .msg {
      margin-left: 10px;
    }
  }
  .clearButton {
    display: inline;
  }
}